/* Reset */
@import url("reset.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");

/* Code */

/* Settigns */

body {
	font-family: "Poppins", "Arial", sans-serif;
	font-size: 14px;
	color: #6C757D;
	line-height: 1.8;
	font-weight: 300;
}

.container {
	max-width: 816px;
	margin: 0 auto;
}

.container__big {
	max-width: 1240px;
	margin: 0 auto;
}

/* Styles */
.header {}

.container {}

.title {
	font-weight: 700;
	font-size: 25px;
	color: #212529;
	margin-bottom: 40px;
}

.header-title {
	max-width: 400px;
}

.page-title {
	max-width: 605px;
}

.text {
	margin-bottom: 80px;
}

.text-first {
	margin-bottom: 38px;
}

.text-second {
	margin-bottom: 38px;
}

.text-third {}

.text-fourth {
	margin-bottom: 38px;
}

.image-desert {
	margin-bottom: 80px;
}

.desert-img {}

.page {}

.images {
	margin-bottom: 80px;
}

.img-1 {
}

.img-2 {}

.footer {}