@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	color: #495057;
	font-size: 12px;
}

[class*="__container"] {
	max-width: 1277px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

/* CODE */

.header {
}

.page {
}

.page__cards {
}
.cards {
}
.cards__container {
	display: flex;
	flex-direction: column;
	gap: 44px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.cards__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.menu-cards {
}
.menu-cards__label {
	font-weight: 500;
	transition: all 0.3s ease 0s;
	flex: 1 1 auto;
	position: relative;
}
.menu-cards__label::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 1px;
	transition: all 0.3s ease 0s;
	background-color: #495057;
}
.menu-cards__label:hover::after {
	width: 100%;
}
.menu-cards__list {
	display: flex;
	gap: 20px;
}
.menu-cards__item {
}
.menu-cards__link {
	font-weight: 500;
	color: rgba(73, 80, 87, 0.5);
	transition: all 0.3s ease 0s;
}
.menu-cards__link_active {
	color: #495057;
}
.menu-cards__link:hover {
	color: #495057;
}
.cards__columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15.5px;
	row-gap: 45px;
	margin-bottom: 60px;
}
.cards__column {
	flex: 0 1 33.333%;
}
.cards__item {
}
.item-cards {
	padding: 0 15.5px;
	display: flex;
	flex-direction: column;
}
.item-cards__content {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.item-cards__image img {
	max-width: 100%;
	transition: all 0.3s ease 0s;
}
.item-cards__image img:hover {
	transform: scale(1.1);
}
.item-cards__image {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 3px;
}
.item-cards__caption {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 8px;
	color: #fff;
	line-height: 2.5;
	background: rgba(33, 37, 41, 0.3);
	border-radius: 3px;
	padding: 3px 12px 2px 13px;
	font-weight: 700;
}
.item-cards__caption:hover .item-cards__image {
	transform: scale(1.1);
}
.item-cards__date {
	margin-bottom: 15px;
}
.item-cards__title {
	margin-bottom: 15px;
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6;
}
.item-cards__text {
	line-height: 1.6;
}
.item-cards__author {
}
.cards__button {
	display: inline-block;
	color: #f8f9fa;
	background: #212529;
	border-radius: 3px;
	font-weight: 500;
	line-height: 2.8;
	padding: 7px 50px 8px 49px;
	align-self: start;
	margin: 0 auto;
	transition: all 0.3s ease 0s;
}
.cards__button:hover {
	background-color: #f8f9fa;
	color: #212529;
	border: 2px solid #212529;
}

.footer {
}
